<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'friends')}">

<body>

  <h2>List my friends</h2>
  <form th:object="${linkup}" class="form-horizontal" action="/listfriends" id="listfriend-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('My Email', 'myemail', 'text')}" />
      
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          class="btn btn-primary" type="submit">Friends</button>
          <button
          class="btn btn-primary" type="button">Subscribe</button>
          <button
          class="btn btn-primary" type="button">Block</button>
      </div>
    </div>
  </form>
 
  <table>
  <tr th:each="friend : ${myfriends}">
    <td th:text="${friend.friendshipId}"></td>
    <td th:text="${friend.email}"></td>
  </tr>
 </table>
</body>
</html>